<h1 id="welcome-user-header">Welcome back{{(username) ? ' ' + username : ''}}!</h1><ul id="route-list" class="row">
    <li class="card" ng-repeat="routeName in routeNames">
        <div class="section route-card">
            <h3 class="route-card-title">{{routeName}}</h3>
            <a href="#" ng-href="#!/route/{{routeName}}" class="primary button">View/Edit</a>
        </div>
    </li>
</ul>
<button ng-click="onNewRouteClick()" id="add-route-btn" class="tertiary">Add new route</button>

<input type="checkbox" id="route-name-modal" class="modal">
<div>
    <div class="card">
        <label for="route-name-modal" class="modal-close"></label>
        <h3 class="section">Enter new route name</h3>
        <input type="text" ng-keyup="onRouteNameInputKeyup($event)" id="route-name-input" placeholder="New route"/>
        <button ng-click="onNewRouteNameSaveClick()" id="route-name-modal-save" class="tertiary">Save</button>
    </div>
</div>