<div class="container route-container">
    <div class="row route-title-container">
        <h2>Route '{{routeName}}'</h2>
    </div>
    <div class="row route-info-cards">
        <div class="col-sm-5 card route-point-list-card">
            <h4 class="section dark">Route points</h4>
            <div class="section" id="route-point-list-container">
                <ul class="section" id="route-point-list">
                    <li class="card route-point-list-item" ng-init="onRoutePointInit()" ng-repeat="routePoint in routePoints track by routePoint.id">
                        <div class="route-point-card-item">
                            Latitude:
                            <input type="number" step="0.000001" max="90" min="-90" class="route-point-card-input" ng-model="routePoint.lat"/>
                        </div>
                        <div class="route-point-card-item">
                            Longitude:
                            <input type="number" step="0.000001" max="180" min="-180" class="route-point-card-input" ng-model="routePoint.lng"/>
                        </div>
                        <div class="route-point-card-item">
                            Date:
                            <input ng-flatpickr fp-opts="dateOpts" fp-on-setup="datePostSetup(fpItem)" class="route-point-card-input route-point-date-input" ng-model="routePoint.date" data-enabletime="true"/>
                        </div>
                        <div class="route-point-card-item">
                            <button class="secondary delete-routepoint-btn" ng-click="onRoutePointDelete(routePoint.id)">Delete</button>
                        <div>
                    </li></ul><!--when I tried getting lastChild of route-point-list I got whitespace node, so
                    I put the closing tag of </ul> next to the closing tag of the last li child element to hack away from
                    this stupid behavior-->
            </div>
        </div>
        <div class="col-sm card route-info-card">
            <h4 class="section dark">Product</h4>
            <div class="section product-card-section">
                <div class="product-card-section-label">Temperature:</div>
                <div class="product-card-section-fields container">
                    <div class="row">
                        <label class="product-input-label" for="product-min-temp-input">Min:</label>
                        <input type="number" class="product-input" id="product-min-temp-input" ng-model="temperature.min"/>
                    </div>
                    <div class="row">
                        <label class="product-input-label" for="product-max-temp-input">Max:</label>
                        <input type="number" class="product-input" id="product-max-temp-input" ng-model="temperature.max"/>
                    </div>
                </div>
            </div>
            <div class="section product-card-section">
                <div class="product-card-section-label">Humidity:</div>
                <div class="product-card-section-fields container">
                    <div class="row">
                        <label class="product-input-label" for="product-min-hum-input">Min:</label>
                        <input type="number" class="product-input" max="100" min="0" id="product-min-hum-input" ng-model="humidity.min"/>
                    </div>
                    <div class="row">
                        <label class="product-input-label" for="product-max-hum-input">Max:</label>
                        <input type="number" class="product-input" max="100" min="0" id="product-max-hum-input" ng-model="humidity.max"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm card route-info-card">
            <h4 class="section dark">Status</h4>
            <div class="section row route-status-container">
                <div class="spinner primary hidden" id="route-info-card-spinner"></div>
                <h2 class="hidden" id="route-info-card-message">{{routeStatus}}</h2>
            </div>
    
        </div>
    </div>
    <div class="row container button-container">
        <button class="primary" id="save-route-btn" ng-click="onSaveAll()">Save all</button>
        <button class="tertiary" id="add-routepoint-btn" ng-click="onRoutePointAdd()">Add route point</button>
    </div>
    <div class="hidden container route-map-container">
        <div class="row route-map-container">
            <p>This is where map goes</p>
        </div>
    </div>
</div>
