.flatpickr-current-month {
  font-size: unset;
}
#header-logo {
  height: 100%;
}

#header-logo-container {
  height: 100%;
  margin-right: 50px;
}

#header-back-btn {
  box-sizing: border-box;
  padding: 0;
}

#header-back-anchor {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: black;
}

.disable-link {
  pointer-events: none;
  cursor: not-allowed;
}

#welcome-user-header {
  padding: 20px;
}

footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

header > button {
  margin: 0 auto;
  width: 30%;
}

.route-card-title {
  display: inline;
}

.route-card {
  display: flex;
  justify-content: space-between;
}

#add-route-btn {
  display: flex;
  margin: 40px auto;
}

.route-container {
  padding: 20px 20px 70px 20px;
}

.route-title-container {
  margin-bottom: 30px;
}

.route-point-card-item {
  padding: 10px 5px;
  display: inline-block;
}

#route-point-list {
  display: flex;
  flex-flow: column nowrap;
}

.route-point-list-item {
  max-width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.route-point-card-input {
  font-size: 14px;
  width: 115px;
}

.route-point-list-card {
  height: 420px;
  max-width: 100%;
  justify-content: flex-start;
}

#route-point-list-container {
  overflow-y: scroll;
}

.button-container {
  margin: 30px 50px;
}

.product-card-section-label {
  display: flex;
  align-self: center;
}

.product-input {
  width: 70px;
}

.route-info-card {
  align-self: stretch;
  justify-content: stretch;
}

.product-input-label {
  align-self: center;
}

.product-card-section {
  display: flex;
  flex-grow: 1;
}

.product-card-section-fields {
  align-self: center;
}

.route-info-cards {
  justify-content: space-around;
}

.page-content-container {
  margin-bottom: 70px;
}

.route-status-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.safe-status-message {
  color: green;
}

.warning-status-message {
  animation: blinking 2s linear infinite;
  color: darkgoldenrod;
}

.dangerous-status-message {
  animation: blinking 1s linear infinite;
  color: red;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}